.homeLink {
    background-color: #060b26;
    color: white;
    padding: 14px 20px;
    margin: 8px 0px;
    border: none;
    cursor: pointer;
    width: 20%;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    transition: 0.3s;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    text-align: center;
}