@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
  background-color: #1a83ff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

iframe {
  display: none;
}

.centered {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.centeredHorizontal {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
}

.centeredVertical {
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
}

.errorMessage {
  color: red;
}

.errorPageMessage {
  color: #060b26;
}

ul {
  list-style-type: none;
  padding: 0;
}