@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  height: auto;
  padding: 20px;
  border: 5px solid #060b26;
  border-radius: 5px;
}

.centered {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.centered-horizontal {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
}

.table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 700px;
  height: auto;
  padding: 20px;
  border: 5px solid #060b26;
  background-color: #060b26;
  border-radius: 5px;
}

.table-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: auto;
  padding: 20px;
  border: 5px solid #060b26;
  background-color: white;
  border-radius: 5px;
}

.edit-area-button {
  border: 5px solid #060b26;
  border-radius: 5px;
  width: 5rem;
}

.errorMessage {
  color: red;
}