@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
  --primary: #060B26;
  --secondary: #1A83FF;
  --ternary: #F5F5F5;
  --accent: #008080;
}

body {
  background: linear-gradient(0deg, var(--primary) 0.03%, var(--accent));
  color: #f5f5f5;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 0 2rem;
  height: 100vh;
  font-family: 'Lato', sans-serif;
}

.stop-scrolling {
  overflow: hidden;
}

.content {
  padding: 1rem;
  padding-left: 6rem;
}

iframe {
  display: none;
}

.centered {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.centeredHorizontal {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
}

.centeredVertical {
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
}

.errorMessage {
  color: red;
}

.errorPageMessage {
  color: var(--ternary);
}

ul {
  list-style-type: none;
  padding: 0;
}

label {
  color: #F5F5F5;
  font-size: 1.1rem;
}

.loading-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1a83ff;
}

.loading-wrapper .loading {
  display: inline-block;
  width: 5rem;
  height: 5rem;
  border: 2px solid #060b26;
  border-radius: 50%;
  border-top-color: #060b26;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}