.link {
    text-decoration: none;
}

.credentials-form-field {
    display: flex;
    justify-content: center;
    margin-top: 0.1rem;
}

.credentials-form-buttons {
    display: flex;
    justify-content: center;
}

.credentials-form-button {
    margin: 0;
    width: auto;
    margin-left: 0.5rem;
}

.credentials-form-input {
    width: 25rem;
    height: 1.2rem;
}

.form-margin {
    margin-top: 9rem;
}

label {
    color: #F5F5F5;
    font-size: 1.1rem;
}

.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    height: auto;
    background-color: #060b26;
    width: 30rem;
}

button {
    margin-top: 0.1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    height: auto;
    color: #f5f5f5;
    background-color: #060b26;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

form input, form select {
    border: none;
    outline: none;
}

.registration-buttons {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

button:hover {
    color: #008080;
}