.link {
    text-decoration: none;
}

.column {
    display: flex;
    flex-direction: column;
}

.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    height: auto;
    background-color: #060b26;
    border-radius: 1rem;
}

label {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    color: #f5f5f5;
}

button {
    margin-top: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    height: auto;
    color: #f5f5f5;
    background-color: #060b26;
    border: none;
}

.registration-buttons {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

button:hover {
    color: #008080;
}

.formContainer {
    width: 100%;
}

button {
    width: 4rem;
    font-size: 1rem;
}

@media (min-width: 641px) {
    .formContainer {
        width: 22rem;
    }

    button {
        width: 4rem;
        font-size: 1rem;
    }
}

@media (min-width: 801px) {
    .formContainer {
        width: 34rem;
    }

    button {
        width: 6rem;
        font-size: 1.1rem;
    }
}

@media (min-width: 1025px) {
    .formContainer {
        width: 40rem;
    }

    button {
        width: 10rem;
        font-size: 1.5rem;
    }
}