.areas {
    padding-left: 14rem;
}

.area {
    display: flex;
    background-color: #060b26;
    margin: 1rem;
    padding: 1rem;
    border: solid;
    border-radius: 1rem;
    justify-content: space-between;
    width: 20rem;
    height: 10rem;
}

.centeredAreaButton {
    margin-left: auto;
    margin-right: auto;
    font-size: 4rem;
}

.noAreaButton {
    padding: 0;
    border: none;
    color: #060b26;
}

.noAreaButton:hover {
    color: #1a83ff;
}

.confirmDeleteOrEditArea {
    display: flex;
    flex-direction: column;
    background-color: #060b26;
    margin: 1rem;
    padding: 1rem;
    border: solid;
    border-radius: 1rem;
    justify-content: space-between;
    width: 20rem;
    height: 10rem;
}

.confirmButtons {
    display: flex;
    justify-content: space-between;
    padding-left: 4rem;
    padding-right: 4rem;
}

.confirmDeleteOrEditArea input:focus {
    outline: none;
}

.areaName {
    color: #f5f5f5;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: auto;
    margin-bottom: auto;
}

.areaConfirmQuestion {
    color: #f5f5f5;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: auto;
}

.areaNameChange {
    color: #f5f5f5;
    font-size: 1.4rem;
    font-weight: bold;
    margin-top: auto;
}

.areaMessage {
    color: #f5f5f5;
}

.areaButtons {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 10%;
}

.areaButton {
    border: none;
    padding-right: 1rem;
    background-color: #060b26;
    padding-bottom: 0.9rem;
    color: #f5f5f5;
}

.areaButton:hover {
    color: #1a83ff;
    cursor: pointer;
}