.quiz-container {
    width: 32rem;
    background: var(--secondary);
    border-radius: 0.25rem;
    padding: 2rem 4rem;
    box-sizing: border-box;
}

span {
    font-size: 2rem;
    font-weight: 500;
    color: var(--primary);
}

.quiz-h2 {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0;
    color: var(--primary);
}

.quiz-label {
    color: var(--primary);
}

.quiz-buttons {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(2.5rem, 1fr));
    gap: 0.5rem;
}

.quiz-button {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 0.25rem;
}

.end-button-wrapper {
    display: flex;
    justify-content: center;
}

.end-button {
    border-radius: 0.25rem;
}