.side-menu {
  background-color: #060b26;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 80px;
  overflow-y: auto;
  overflow-x: hidden;
}

.side-icon {
  text-decoration: none;
  background-color: #060b26;
  color: #f5f5f5;
  font-size: 1.5rem;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 1.5rem;
  margin-top: 2rem;
}

.side-icon:hover {
  color: #1a83ff;
  border-radius: 4px;
  cursor: pointer;
}

a.active.side-icon {
  color: #1a83ff;
}

a.active.side-icon:hover {
  color: #1a83ff;
}

.side-menu-items {
  width: 100%;
}

.tooltip-label {
  background-color: #060b26;
  color: #f5f5f5;
}