.tableContainer, .cointainer {
    padding-top: 1rem;
}

.table-main-wrapper {
    overflow: auto;
}

.table-main {
    min-width: 30rem;
}

thead {
    position: sticky;
    top: 0;
}

th, td {
    background-color: #060b26;
    color: #f5f5f5;
    text-align: center;
    width: 40rem;
}

th {
    padding: 0.7rem;
    font-size: 1.2rem;
}

td {
    padding: 0.3rem;
}

.selected {
    background-color: #008080;
}

.infoContainer {
    background-color: #060b26;
    color: #f5f5f5;
}

.userButton {
    border: none;
    background-color: #060b26;
    color: #f5f5f5;
    outline: none;
    margin: 0;
}

.userButton:hover {
    color: #008080;
    cursor: pointer;
}

.search-parameter {
    display: flex;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

.search-parameter-text {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

.search {
    display: flex;
    padding-top: 1rem;
    padding-left: 0.5rem;
}

.search-label {
    margin: 0;
}

.search-input {
    height: 1.3rem;
    margin: 0;
}

th input:focus {
    outline: none;
}

div.tableContainer input:focus {
    outline: none;
}

.header {
    display: flex;
    flex-wrap: wrap;
    background-color: #060b26;
    color: #f5f5f5;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-weight: bold;
}

@media (min-width: 892px) {
    .tableContainer {
        padding-left: 4.6rem;
    }

    .infoContainer {
        padding-bottom: 1rem;
    }
}

@media (min-width: 1025px) {
    .tableContainer {
        padding-left: 10rem;
        padding-right: 6rem;
    }

    .infoContainer {
        padding-bottom: 1rem;
        margin-left: 10rem;
        margin-right: 6rem;
    }
}